<a href="https://colab.research.google.com/github/jxd4348/BTE-320-Assignment-1/blob/main/JD_In_Class_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In class Assignment 1, 9/3

Final Code

In [20]:
sales = input("Enter sales ($): ")
sales = float(sales)

cogs_pct = input("Enter cogs (%): ")
cogs_pct = float(cogs_pct)

rate = input("Enter tax rate (%): ")
rate = float(rate)

cogs = sales * (cogs_pct / 100)
grossProfit = sales - cogs
taxes = grossProfit * rate / 100
netIncome = grossProfit - taxes


print(f"cost of Goods sold: ${cogs}")
print(f"Gross Profit: ${grossProfit}")
print(f"Taxes: ${taxes}")
print(f"Net Income: ${netIncome}")

Enter sales ($): 45
Enter cogs (%): 7
Enter tax rate (%): 2
cost of Goods sold: $3.1500000000000004
Gross Profit: $41.85
Taxes: $0.8370000000000001
Net Income: $41.013

In class assignment 2, 9/8

Final code

In [21]:
import math

d = input("Enter Annual Demand (units/year): ")
d = float(d)

s = input("Enter Reorder cost ($/order): ")
s = float(s)

h = input("Enter holding cost($/unit/year): ")
h = float(h)

EOQ = (2 * d * s / h) ** (1/2)

print(f"annual demand: ${d}")
print(f"Reorder cost: ${s}")
print(f"Holding Cost: ${h}")
print(f"EOQ: ${EOQ}")

Enter Annual Demand (units/year): 443
Enter Reorder cost ($/order): 43
Enter holding cost($/unit/year): 4
annual demand: $443.0
Reorder cost: $43.0
Holding Cost: $4.0
EOQ: $97.5935448685004

Assignment 3 9/15

Final code

In [22]:
x = float(input("Enter x: "))
y = float(input("Enter y: "))
op = input("Enter operator (+, -, *, /, //, **, %): ")

if op == "+":
    result = x + y
elif op == "-":
    result = x - y
elif op == "*":
    result = x * y
elif op == "/":
    result = x / y
elif op == "//":
    result = x // y
elif op == "**":
    result = x ** y
elif op == "%":
    result = x % y
else:
  result = None
  print("Invalid operator")

print(f"result = {result}")

Enter x: 3
Enter y: 2
Enter operator (+, -, *, /, //, **, %): **
result = 9.0

Assignment 4 9/17

Final Code

In [23]:
for hours in range(1,9):
  fee = 5 + 2.5 * hours

  if fee < 10:
    fee = 10.0
  elif fee > 20:
    fee = 20.0

  print(hours, fee)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

Assingment 5 9/22

Final Code

In [24]:
print("$Ad, $Profit")
for Ad in range(0, 201, 25):
  revenue = (20 + 2 * Ad **.5) * 10
  cost = 200 + Ad
  profit = revenue - cost
  print(Ad, round(profit, 2))

$Ad, $Profit
0 0.0
25 75.0
50 91.42
75 98.21
100 100.0
125 98.61
150 94.95
175 89.58
200 82.84

Assignment 6 9/24

In [25]:
numbers = []
num = float(input("Enter a number: "))

while num != 0:
  numbers.append(num)
  num = float(input("Enter another a number: "))

numbers.sort(reverse=True)
print(numbers)

Enter a number: 9
Enter another a number: 0
[9.0]

Assignment 7 10/1

In [26]:
#class version
import random

while True:

  play = input('Do you want to play a game? (yes/no): ').strip().lower()

  if play == 'no':
    break

  user_choice = input('Choose rock, paper, or scissor: ').strip().lower()
  pc_choice = random.choice(['rock', 'paper', 'scissor'])
  print(f'Computer chose: {pc_choice}')

  if user_choice == pc_choice:
    print('It\'s a tie!')
  elif (
    (user_choice == 'rock' and pc_choice == 'scissor') or
    (user_choice == 'paper' and pc_choice == 'rock') or
    (user_choice == 'scissor' and pc_choice == 'paper')
    ):
    print('User wins!')
  else:
    print('Computer wins!')

Do you want to play a game? (yes/no): yes
Choose rock, paper, or scissor: rock
Computer chose: paper
Computer wins!
Do you want to play a game? (yes/no): no

Assignment 8 10/1

In [27]:
products = {
    'P-01': 9.95,
    'P-02': 10.50
}

id = input('Enter product ID:')

if id in products:
  print(f'{id}: {products[id]}')
else:
  print(f'{id} not found')

Enter product ID:P-01
P-01: 9.95

Assignment 9 10/20

In [28]:
def calcFee(h):
  fee = 5 + 2.5 * h
  if fee < 10.0:
    return 10.0
  elif fee > 20.0:
    return fee
  else:
    return fee


def main():
  hours = int(input('Enter number of parking hours: '))
  fee = calcFee(hours)
  print(fee)

if __name__ == '__main__':
  main()

Enter number of parking hours: 3
12.5

Assignment 10 10/27

In [17]:
def reverse(s):
  if len(s) > 1:
    return s[-1] + reverse(s[:-1])
  else:
    return s

reverse('hello')

'olleh'